.App{
  text-align: center;
  padding: 0px;
}

main{
  max-width: 1200px;
  min-height: 90vh;
  margin: auto;
  padding: 10px;

}

button{
  background: blue;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
